.Xil/echo *.jouecho *.logecho *.strecho *.wdbecho *.wcfgecho *.bitecho *.ltxecho *.dcpecho *.rptecho *.pbecho *.xpeecho *.hw/echo *.runs/echo *.cache/echo *.gen/echo *.ip_user_files/echo *.sim/echo *.srcs/echo *.tmp/
